""" MLComponent.py:

Python implementation of the MLComponent fprime component. This component is dependent on autocoded bindings that
map to this component. **Note:** ensure this file is renamed to MLComponent.py in the current folder.
"""

# Required imports for the implementation to work
import fprime_pybind

# Typical, but optional, imports
import Fw
import Components


class MLComponent(fprime_pybind.MLComponentBase):
    """ Implementation of MLComponent component. """

    def __init__(self):
        """ Constructor implementation """
        pass # TODO: fill out custom constructing logic

    
    def SET_ML_PATH_cmdHandler(self, opCode, cmdSeq, path):
        """ Command handler for SET_ML_PATH """
        self.cmdResponse_out(opCode, cmdSeq, Fw.CommandResponse.COMMAND_OK) # TODO: implement SET_ML_PATH

    def SET_INFERENCE_PATH_cmdHandler(self, opCode, cmdSeq, path):
        """ Command handler for SET_INFERENCE_PATH """
        self.cmdResponse_out(opCode, cmdSeq, Fw.CommandResponse.COMMAND_OK) # TODO: implement SET_INFERENCE_PATH

    def INFERENCE_ONCE_cmdHandler(self, opCode, cmdSeq):
        """ Command handler for INFERENCE_ONCE """
        self.cmdResponse_out(opCode, cmdSeq, Fw.CommandResponse.COMMAND_OK) # TODO: implement INFERENCE_ONCE

    